.btn {
  padding: 10px 15px;
  border-radius: 8px;
  background: #1e293b;
  color: #fff !important;
}

.btn-primary {
  background: #ff0080 !important;
}
.btn-secondary {
  background: #7928ca;
}
.btn-success {
  background: #057a55;
}
.btn-info {
  background: #0dcaf0;
}
.btn-warning {
  background: #ffc107;
}
.btn-error {
  background: #e02424;
}

.hover:hover {
  opacity: 0.8 !important;
  transition: all 0.3s;
}
