@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
}

h1 {
  font-family: "Mooli", sans-serif;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}

.bg-primary-g {
  background: linear-gradient(to left, #4338ca, #4f46e5);
  color: #fff !important;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.bg-primary-g:hover {
  background: linear-gradient(to right, #4338ca, #4f46e5);
}

.text-primary-after::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 100%;
  height: 8px;
  background: #4e46e592;
  border-radius: 10px;
  z-index: -1;
}
.text-secondary-after::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 100%;
  height: 8px;
  background: #ffa60096;
  border-radius: 10px;
  z-index: -1;
}
/* --------------Home page css -------------*/

.menu {
  gap: 24px;

  font-size: 15px;
}
.menu li a {
  color: #606060;
  transition: all 0.3s ease;
}

.menu li a:hover {
  color: #4338ca;
}

.hero_wrap {
  background-image: url("/images/hero/hero_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.HomeTopSlider {
  width: 100%;
  height: 330px;
}

.HomeTopSlider .swiper-wrapper {
  height: 300px !important;
}

.HomeTopSlider img {
  width: 92%;
  margin: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.HomeTopSlider .swiper-slide.swiper-slide-visible.swiper-slide-active {
  backdrop-filter: blur(2px);
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #4f46e5;
  width: 15px;
  border-radius: 10px;
}
