@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  background: #fbfdff;
}

h1 {
  font-family: "Mooli", sans-serif;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1180px !important;
  }
}

.shadow {
  box-shadow: 0 20px 27px 0px #0000000d !important;
}
.shadow-lg {
  box-shadow: 0px 0px 20px 0px #00000014, 2px 3px 9px -5px #0000000d !important;
}
.shadow-inset {
  box-shadow: -2px 4px 13px 5px #0000000c inset;
}

.bg-primary-g {
  background: linear-gradient(to right, #4338ca, #4e46e5f3);
  color: #fff !important;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.bg-primary-g:hover {
  background: linear-gradient(to left, #4338ca, #4e46e5ef);
}

.text-primary-after::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 100%;
  height: 8px;
  background: #4e46e592;
  border-radius: 10px;
  z-index: -1;
}
.text-secondary-after::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 100%;
  height: 8px;
  background: #ffa60096;
  border-radius: 10px;
  z-index: -1;
}
/* --------------Home page css -------------*/

.menu li a {
  color: #606060;
  transition: all 0.3s ease;
}

.menu li a:hover,
html.dark .menu li a:hover {
  color: #4338ca;
}

html.dark .menu li a {
  color: #ddd;
}

.hero_wrap {
  background-image: url("/images/hero/hero_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

html.dark .hero_wrap {
  background-image: url("/images/hero/hero_bg_dark.avif");
  color: #fff;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media only screen and (min-width: 10240px) {
  .HomeTopSlider {
    width: 100%;
    height: 350px;
  }

  .HomeTopSlider .swiper-wrapper {
    height: 300px !important;
  }
}

.HomeTopSlider img {
  width: 92%;
  margin: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.HomeTopSlider .swiper-slide.swiper-slide-visible.swiper-slide-active {
  backdrop-filter: blur(2px);
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #4f46e5;
  width: 15px;
  border-radius: 10px;
}

/* ----------------------------------------------------- */
.service-card {
  background-image: linear-gradient(310deg, #4e46e5dc, #f000b8e3),
    url("/images/service-card.jpg");
  background-position: 50%;
  background-size: cover;
  height: 450px;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------Payment section--------------- */

.payment_img {
  position: absolute;

  background: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 0px #00000014, 2px 3px 9px -5px #0000000d;
}

.payment_img img {
  width: 90%;
}

.payment_y_animation {
  animation: slideTopDown 1s infinite alternate;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-name: slideY;
}

@keyframes slideY {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

/* -------------card hover ----------------*/
.component_card img {
  transition: all 0.3s;
}

.component_card img:hover {
  transform: perspective(999px) rotateX(7deg) translate3d(0, -4px, 5px);
}

.pages_wrap {
  background-image: linear-gradient(0deg, #b3b3b354, #b3b3b354),
    url(/images/pages/pages_bg.jpg);
  background-size: contain;
  padding: 24px;
  border-radius: 10px;
  height: 500px;
  overflow: hidden;
}
